.verify-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.verify-button {
    text-shadow: none;
    background-color: var(--dxp-g-brand);
    font-family: var(--dxp-g-root-font-family);
    border-radius: var(--dxp-s-button-radius-border);
}
.verify-text {
    color: var(--dxp-g-brand-contrast);
}
.verify-button:hover {
    background-color: var(--dxp-s-link-text-color-1);
}
.verify-button:focus {
    background-color: var(--dxp-s-link-text-color-1);
}
.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.recaptcha-disclaimer {
    font-size: var(--dxp-g-font-size-2);
    padding-bottom: var(--dxp-g-spacing-medium);
}
.spinner-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.email-spinner-container {
    position: absolute;
    top: 55%;
    right: 1rem;
}
.email-spinner-container-theme-2 {
    position: absolute;
    top: 32.5%;
    right: 1rem;
}
.disclaimer-container {
    display: flex;
    align-items: center;
    background-color: var(--dxp-g-root-1);
    padding: var(--dxp-g-spacing-small);
    border-radius: var(--dxp-s-button-radius-border);
}
.disclaimer-icon {
    flex-basis: 6.25rem;
    margin-right: var(--dxp-g-spacing-small);
    text-align: center;
}
.slds-form-element__label {
    text-decoration: var(--dxp-s-body-text-decoration);
}
div[data-contact-summary] p {
    overflow: hidden;
    text-overflow: ellipsis;
}
